<a href="https://colab.research.google.com/github/adithi2307/advance_gen_ai_internship/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Unique words in a sentence
print("Unique Words in a sentence")
input = "python is easy and python is powerful"
words = input.split()
unique_words = set(words)
print("number of unique words: ", len(words))
print("unique words: ", unique_words)

Unique Words in a sentence
number of unique words:  7
unique words:  {'is', 'powerful', 'and', 'python', 'easy'}

In [ ]:
#2. Highest salary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_salary = 0
highest_employee = ""
for name in employees:
  if employees[name] > highest_salary:
    highest_salary = employees[name]
    highest_employee = name
print("highest salary: ", highest_employee, "-", highest_salary )

highest salary:  Ravi - 75000

In [ ]:
#3. find max and min values
numbers = [45, 22, 89, 10, 66]
max = numbers[0]
min = numbers[0]
for num in numbers:
  if num > max:
    max = num
  if num < min:
    min = num
print("max value: ", max, "min value: ", min)

max value:  89 min value:  10

In [ ]:
#4. Count products over a price threshold
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
  if price > 1000:
    count +=1
print("products above 1000: ", count)

products above 1000:  2

In [ ]:
#5. Calculate attendance percentage
attendance = ["P", "P", "A", "P", "P"]
present_days = 0
for days in attendance:
  if days == "P":
    present_days += 1
total_days = len(attendance)
percentage = (present_days/total_days) *100
print("attendance percentage: ", percentage)

attendance percentage:  80.0

In [ ]:
#6. Remove duplicate phone numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique = set(phone_numbers)
print("After removing duplicates, list: ", unique)

After removing duplicates, list:  {9876543210, 9123456789}

In [ ]:
#7. Count character frequency
text = "pythonp"
frequency = {}
for char in text:
  if char in frequency:
    frequency[char] +=1
  else:
    frequency[char] = 1
print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [ ]:
#8. Convert list to tuple
numbers = [10, 20, 30]
result = tuple(numbers)
print("tuple: ", result)

tuple:  (10, 20, 30)

In [29]:
#9 Check if a key exists

employees = {
    "Amit": 82000,
    "Sneha": 64000,
    "Rahul": 71000
}

user_input = input("Enter name or salary: ").strip()

found = False

# 1. Check if input is a name
if user_input in employees:
    print("Yes, employee found")
    print(f"Name: {user_input}")
    print(f"Salary: {employees[user_input]}")
    found = True

# 2. Check if input is a salary
if not found:
    for name, salary in employees.items():
        if str(salary) == user_input:
            print("Yes, employee found")
            print(f"Name: {name}")
            print(f"Salary: {salary}")
            found = True
            break

if not found:
    print("Employee not found")

Enter name or salary: Rahul
Yes, employee found
Name: Rahul
Salary: 71000

In [24]:
#10. Calculate average marks
marks = [70, 75, 80, 65]
sum = 0
for mark in marks:
  sum += mark
average = sum/len(marks)
print("average= ", average)

average=  72.5